@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('image/bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Century Gothic', Arial, sans-serif;
}

header {
    width: 100%;
    background: darkgreen;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
    flex: 1; 
    margin-top: 80px; 
}

h1 {
    color: white;
    margin: 0;
    font-family: 'Century Gothic', Arial, sans-serif;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333;  
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);  
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 350px;  
    height: 350px;  
    margin-left: 20px; 
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;  
    color: blanchedalmond;
    word-wrap: break-word;  
}
